#welcome-index
  .center-container
    #shorter-form
      = text_field_tag(:url, nil, placeholder: 'Paste your URL here', id: 'original_url')
      = submit_tag('Shorten', id: 'submit_original_url', class: 'success')
      - if user_signed_in?
        .custom-interval
          %label Duration (in day)
          %input{ id: :expiration_delay, type: :range, min: 1, max: 30, value: 30, list: :tickmarks, oninput: "day_delay.value=expiration_delay.value"}
          %output{ id: :day_delay, for: :expiration_date }30
      %em.error
      .result.hidden
        %span#shorten-url
        %button#copy-url.success Copy

  = render 'reduced_urls/chart'
  = render 'reduced_urls/list', reduced_urls: @reduced_urls
