<div id="login">
  <div class="sign-in-card">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Login' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
    <% end %>
  </div>
</div>
