<%= form_with(model: reduced_url, local: true) do |form| %>
  <% if reduced_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reduced_url.errors.count, "error") %> prohibited this reduced_url from being saved:</h2>

      <ul>
      <% reduced_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
