#list
  %table
    %tr.header
      %th Original Url
      %th Shorten URL
      %th N
      %th Creation
      %th Expiration
      %th Actions
    - if reduced_urls.present?
      - reduced_urls.each do |reduce_url|
        %tr
          %td= reduce_url.original_url.truncate(80)
          %td= redirect_url_url(reduce_url.reduce_hash)
          %td= reduce_url.click_counters.size
          %td= l(reduce_url.created_at, format: :short)
          %td.expiration-time= l(reduce_url.expiration_time, format: :short)
          %td
            = link_to('Stats', 'javascript:;', data: { stat_url: reduced_url_stats_path(reduce_url) }, class: 'stat-link')
            - if user_signed_in?
              %span
                = link_to('Expire', 'javascript:;', data: { url: reduced_url_expire_path(reduce_url)}, class: 'update-time-link')
                = link_to('Extend', 'javascript:;', class: 'extend-duration-link')
                = link_to('Delete', 'javascript:;', data: { delete_url: reduced_url_path(reduce_url)}, class: 'delete-link')
          - if user_signed_in?
            %td.expiration-selector.hidden
              Extend
              %input{ id: "expiration_delay_#{reduce_url.id}",
                      class: 'reduce-urls-expiration',
                      type: :range,
                      min: 1,
                      max: 30,
                      value: 30,
                      list: :tickmarks,
                      oninput: "day_delay_#{reduce_url.id}.value=expiration_delay_#{reduce_url.id}.value",
                      data: { url: reduced_url_extend_duration_path(reduce_url) }}
              %output{ id: "day_delay_#{reduce_url.id}", for: :expiration_date }30
