<p id="notice"><%= notice %></p>

<h1>Reduced Urls</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reduced_urls.each do |reduced_url| %>
      <tr>
        <td><%= link_to 'Show', reduced_url %></td>
        <td><%= link_to 'Edit', edit_reduced_url_path(reduced_url) %></td>
        <td><%= link_to 'Destroy', reduced_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reduced Url', new_reduced_url_path %>
