#login {
  display: flex;
  align-items: center;
  flex-direction: column;
  .sign-in-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    form {
      width: 300px;
    }
    input {
      margin-top: 5px;
      width: 100%;
    }

  }
}
