// Place all the styles related to the ReducedUrls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#list {
  margin-top: 15px;
  @media screen and (max-width: $break-small) {
    overflow-x: scroll;
  }
  table {
    border-collapse: collapse;
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  }
}

#chart-part {
  width: 50%;
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
}
