#welcome-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $break-small) {
    display: block;
  }
  .center-container {
    width: 40%;
    padding: 100px;
    @media screen and (max-width: $break-small) {
      width: 90%;
      padding: 30px 10px 30px 10px;
    }
    border: black 2px solid;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    .result {
      border: 1px grey solid;
      border-radius: 2px;
      padding: 5px;
      margin-top: 5px;
      #shorten-url {
        background-color: $light_grey;
      }
    }
  }
}
