#navbar
  %h1 URL Shortener
  .left-link
    - if user_signed_in?
      = link_to('Sign out', destroy_user_session_path, method: :delete)
    - else
      = link_to('Connection', new_user_session_path)
